<h2>Список звонков:</h2>
<table class="table table-condensed table-hover">
  <tr>
    <th>#</th>
    <th>Инициатор</th>
    <th>Получатель</th>
    <th>Состояние</th>
  </tr>
  <tr *ngFor="let call of calls | async; let i = index" class="{{call.style}}">
    <td>{{ i+1 }}</td>
    <td>{{ call.fromId }}</td>
    <td>{{ call.toId }}</td>
    <td>{{ call.status }}</td>
  </tr>
</table>