<form class="form-inline" #callForm="ngForm" (ngSubmit)="create()">
  <div class="form-group">
    <label for="fromId">Инициатор: </label>
    <input type="number" class="form-control" id="fromId" placeholder="XXX" [(ngModel)]="model.fromId" [ngModelOptions]="{standalone: true}" required>
  </div>
  <div class="form-group">
    <label for="toId">Получатель: </label>
    <input type="number" class="form-control" id="toId" placeholder="XXX" [(ngModel)]="model.toId" [ngModelOptions]="{standalone: true}" required name="toId" #name="ngModel">
  </div>
  <button type="submit" class="btn btn-default">Позвонить</button>
</form>

<div *ngIf="error" class="alert alert-danger" role="alert"> {{ error }}</div>